
.mainBg {
    background-image: url('assets/images/calculatorBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.item:hover {
    font-weight: bold;
    background-color: rgb(255, 193, 7, 0.3);
    transform: scale(1);
    box-shadow: rgba(255, 193, 7, 0.45) 0px 0px 8px 0px
}

.item:active {
    background-color: rgb(255, 193, 7, 0.3);
    transform: scale(0.95);
}

.fontAwesome {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}